@model IEnumerable<ASPProject.Models.Anime>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPremium)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
                @* <img src="@("~/Images/" +)" asp-append-version="true" width="250" height="250" />*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPremium)
            </td>



            <td>

                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@


                <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.ID">Details</a> 


              @*  <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@


            </td>


        </tr>
}
    </tbody>
</table>
